/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11.03.2019, 10:26:54
    Author     : NHaider
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600');


/* Reset styles */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
em, img,
small, strong, sub, sup, var,
b, i,
ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/**/
/* colors material design
Dark: #007c91
Primary: #00acc1;
Light: #5ddef4;

secondory grey
dark: #494949
primary: #757575
light: #a4a4a4;
*/

body {
	background:linear-gradient(to left top,#007c91,#00acc1);
	background-attachment: fixed;
	height:100%;
	font-size:10px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin:auto;
}
header {
	margin: 1em 0 1.5em 0;
	text-align: center;
}
header p {
  font-size:2.5em;
	font-weight: 300;
	color: #000;
	padding: 0.5em 1em;
}
header p span { text-transform: uppercase; font-weight: 500; }

main {
	text-align: center;
}

#imagePlayer {
		margin:auto;
		width: 80%;
		vertical-align: top;
}

#topImage {
   display: none;
	 object-fit: contain;
	 width:100%;
	 box-shadow: 0 0 1.5em rgba(0, 0, 0, .5)
}
#controlPlayer {
  position:relative;
  bottom: 3.75em;
  height: 2em;
  overflow:hidden;
  width: calc(100%-1em);
  background:rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  padding-top: 1em;
  text-align: left;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
}

footer a {
	color: #000;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px

@media (min-width: 1281px), (min-width: 1025px) and (max-width: 1280px) {
	header p {
		font-size:2.5em;
	}

	#imagePlayer {
	    margin:auto;
			width: 80%;
	    vertical-align: top;
	}
	footer {
		font-size: 1.2em;
		margin:1em 0;
	}

}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

	header p {
		font-size:2em;
	}

	#imagePlayer {
	    margin:auto;
			width: 80%;
	    vertical-align: top;
	}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	header {
		position:absolute;
		margin:0;
		width:100%;
		background: rgba(0, 0, 0, .2);
	}
	header p {
		font-size:1.5em;
	}

	#imagePlayer {
			width: 100%;
			vertical-align: top;
	}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	header {
		position:absolute;
    margin:0;
		width:100%;
		background: rgba(0, 0, 0, .2);
	}
	header p {
		font-size:1.5em;
	}

	
	#imagePlayer {
			width: 100%;
			vertical-align: top;
	}
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  header p {
			font-size:1.5em;
		}
		#imagePlayer {
				width: 100%;
				vertical-align: top;
		}
		footer {
			font-size: 1em;
			margin:0.5em 0;
		}

}
