/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11.03.2019, 10:26:54
    Author     : NHaider
*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#imagePlayer {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

#sizeDiv {
    display:inline-block;
    position:relative;
    width: 100%;
}

#topImage {
    left: 0;
    position: absolute;
    opacity: 1;
    transition: opacity 1s;    
}

#topImage.fadeout {
    opacity: 0;
}

#bottomImage {
    left:0;
    position: absolute;   
    transition: opacity 1s;
    opacity: 0;    
}

#bottomImage.fadein {
    opacity: 1;
}

#controlPlayer {
    position:absolute;
    bottom: 0em;
    height: 75px;
    width: 100%;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
    z-index: 5;
}

.cp-table{
    display: table;     
} 

.cp-row {
    display: table-row; 
}

.cp-cell {
    display: table-cell; 
    vertical-align: middle;
}

.tilaIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color:white;
    font-size: 30px;
    letter-spacing: normal;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#pictureInfo{
    font-family: 'Fire Sans', sans-serif;    
    color:white;
    font-size: 14px;
    height:18px;
    padding-top: 20px;  
    padding-left: 45px;
    -webkit-font-smoothing: antialiased;   
} 

.navContainer {
    position: absolute;
    width: 15%;
    text-align: center;
    z-index: 4;
    height: 100%;   
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}
.navContainer:hover {
    opacity: 1;
}

.navIconContainer {
    text-align: center;
    position: relative;
    top: calc(50% - 35px);
    display: inline-block;
}

.tilaLeft{
    left:0px;
    text-align: left;
    padding-left: 10px;    
}

.tilaRight{
    right:0px;
    text-align: right;
    padding-right: 10px;
}

.tilaMenu{   
   position: absolute;
   right: 15px;
   bottom: 40px;
   background: rgba(0,0,0,0.6);
   color: white;
   text-align: left;
   z-index: 15;
   padding-top:4px;
   padding-bottom: 4px;
   height: 1px;
   width: 250px;
   opacity: 0;
   overflow:hidden;
   transition: 0.3s;
   
}

.tilaMenuShow{
   height: 150px;
   opacity: 1;
}

.tilaMenuItem{
   padding: 8px 10px;
   font-family: 'Fire Sans', sans-serif;   
   font-size: 16px;   

   -webkit-font-smoothing: antialiased; 
}

.tilaMenuItem:hover{
    background: rgba(255,255,255,0.15);
}


.navigationIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color:white;
    font-size: 70px;
    letter-spacing: normal;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-text-stroke: 2px black;   
}
