/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11.03.2019, 10:26:54
    Author     : NHaider
*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
        overflow:hidden;
}

#imagePlayer {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

#sizeDiv {
    display:inline-block;
    width: 100%;
}

#topImage {
    opacity:1;
    transition: opacity 1s;
}

#topImage.fadeIn {
    opacity:1;
}

#controlPlayer {
  position:relative;
	margin:-3em 0 0 0;
	padding: 0;
	height: 3em;
  /*bottom: 3.75em;
  height: 2em;*/
  width: calc(100%-1em);
	text-align: left;
	background:rgba(0, 0, 0, 0.2);
  /*padding: 0.5em;
  padding-top: 1em;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);*/
	 z-index: 5;
	 display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
	 display:flex;
	 flex-flow: row wrap;
	 justify-content: space-between;
}
#controlPlayer button {
	background:none;
	border: none;
	padding:0;
	margin:0;
	width:3%;
}

#controlPlayer .material-icons {
	color: #00acc1;
	font-size:2.5em;
}
#controlPlayer button:hover .material-icons {
	color:#5ddef4;
}
#playTilacamButton {}
