/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11.03.2019, 10:26:54
    Author     : NHaider
*/

/* Meyer Reset Stylesheet Start */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
        overflow:hidden;
}

#imagePlayer {
    width: 100%;    
    text-align: center;
    vertical-align: top;
}

#sizeDiv {
    display:inline-block; 
}

#topImage {
   display: none;
}

#controlPlayer {
  position:relative;
  bottom: 3.75em;
  height: 2em;
  overflow:hidden;
  width: calc(100%-1em);
  background:rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  padding-top: 1em;
  text-align: left;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
}
