/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11.03.2019, 10:26:54
    Author     : NHaider
*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
        overflow:hidden;
}

#imagePlayer {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

#sizeDiv {
    display:inline-block;
    position:relative;
    width: 100%;
}

#topImage {
    left: 0;
    position: absolute;
    opacity: 1;
    transition: opacity 1s;    
}

#topImage.fadeout {
    opacity: 0;
}

#bottomImage {
    left:0;
    position: absolute;   
    transition: opacity 1s;
    opacity: 0;    
}

#bottomImage.fadein {
    opacity: 1;
}

#controlPlayer {
  position:absolute;
  bottom: 0em;
  height: 75px;
  width: 100%;
  text-align: left;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
  z-index: 5;
 }

 .cp-table{
     display: table;     
 } 
 
.cp-row {
    display: table-row; 
}

.cp-cell {
    display: table-cell; 
    vertical-align: middle;
}

.tc-materialIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color:white;
    font-size: 30px;
    letter-spacing: normal;
    text-transform: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#pictureInfo{
    color:white;
    font-size: 12px;
    height:18px;
    padding-top: 20px;  
    padding-left: 45px;
 } 
