.rangeslider-wrap {
  padding-bottom: 2px;
}

.rangeslider {
  position: relative;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: rgba(255,255,255,0.45);
  /*border:1px solid rgba(0,0,0,0.45);*/
}

.rangeslider__handle {
  transition: background-color .2s;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: red;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: -5px;
}
.rangeslider__handle__value {
  transition: opacity 0.5s;
  box-sizing: border-box;
  width: 60px;
  text-align: center;
  font-size: 0.75em;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  left: -22px;
  top: -40px;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  /*border: 1px solid rgba(0, 0, 0, 0.9);*/
}

.rangeslider__handle__value:before {
  transition: border-top-color .2s;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  border-top-color: rgba(0, 0, 0, 0.5);
}

.rangeslider__fill {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba(255,0,0,0.85);
  border-radius: 2px;
}

.rangeslider.rangeslider--active .rangeslider__handle__value {
  opacity: 1;
}
